<h4>Transferir chamado</h4>
<hr>
<div style="max-width: 20rem; margin-bottom: 2rem;">
    <form action="" method="post">
        <label>Email:</label>
            <input type="text" name="email" class="form-control mb-2" value="{{transfer.to}}">
    
        <label>Asssunto:</label>
            <input type="text" name="subject" class="form-control mb-2" value={{transfer.subject}}>
    </form>
</div>

<h4>Categorias</h4>
<hr>
<div style="max-width: 50rem; margin-bottom: 2rem;">
    <form action="" method="post">
        <div class="container p-0">
            <div class="row">
                <div class="col text-end" style="max-width: 25rem;">
                    <input class="form-control" type="text" placeholder="Categorias" name="item" required>
                </div>
                <div class="col-3 text " style="min-width: 10rem;">
                    <button type="submit" class="btn text-white" style="background-color: #4784ba;"><i class="fa-solid fa-plus"></i> Nova categoria</button>
                </div>
            </div>
        </div>
    </form>
</div>