
<div class="container mt-4 p-0">
    <a href="#transferir" class="btn text-white rounded-4" style="background-color: #4784ba;">Transferir</a>
</div>
<hr>
<section id="transferir" class="mt-4">
    <h4>Transferir</h4>
    <form action="" method="post">
        <label>Email:</label>
            <input type="text" name="to" class="form-control mb-2" value="{{transfer.to}}">

        <label>Asssunto:</label>
            <input type="text" name="subject" class="form-control mb-2" value={{transfer.subject}}>
        
        <button type="submit" class="btn text-white text mt-2 mb-4" style="background-color: #4784ba;">Salvar</button>
    </form>
</section>