<h4>Transferir chamado</h4>
<hr>
<div style="max-width: 20rem; margin-bottom: 2rem;">
    <form action="" method="post">
        <label>Email:</label>
            <input type="text" name="email" class="form-control mb-2" value="{{transfer.to}}">
    
        <label>Asssunto:</label>
            <input type="text" name="subject" class="form-control mb-2" value={{transfer.subject}}>
    </form>
</div>