<nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background: #236192;">
  <div class="container-fluid">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <a class="navbar-brand" href="/"><h4>Helpdesk Saúde SFS</h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#if user}}
        {{#if user.dataValues.acesso}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administrador</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/cadastro/usuario">Unidades</a></li>
            <li><a class="dropdown-item" href="/admin/contatos">Contatos</a></li>
            <li><a class="dropdown-item" href="/admin/email/enviados">Caixa de saída</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Inventário</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/equipamentos">Equipamentos</a></li>
            <li><a class="dropdown-item" href="/admin/materiais">Materiais</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Chamados</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/chamados">Em aberto</a></li>
            <li><a class="dropdown-item" href="/admin/chamados/encerrados">Encerrados</a></li>
          </ul>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/chamados">Chamados</a>
        </li>
        {{/if}}
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/usuarios/login">Login</a>
        </li>
        {{/if}}
      </ul>
      {{#if user}}
      <a href="/usuarios/logout" style="color: white; text-decoration: none;"><i class="fa-solid fa-right-from-bracket"></i> Sair</a>
      {{else}}
      {{/if}}
    </div>
  </div>
</nav>