<h2>Chamados em aberto</h2>
<button type="button" class="btn text-white mt-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #4784ba;">Novo chamado</button>

<ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Limpar filtros</a></li>
    <li><a class="dropdown-item" href="#">Aberto</a></li>
    <li><a class="dropdown-item" href="#">Processando</a></li>
    <li><a class="dropdown-item" href="#">Trânsferido</a></li>
</ul>
<hr>

<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card shadow-sm">
      <div class="card-body">
        <div class="card-header" style="background-color: #32A071;">
          <h5 class="card-title">Chamado: <label for="">001</label></h5>
          <h6>Status: <label for="">Aberto</label></h6>
        </div>
        <h6>Ocorrência: Computador</h6>
        <h6>Descrição:</h6>
        <p class="card-text text-truncate">Computador não liga!</label>
        <h6>Solicitante: <label>Luan</label></h6>
        <h6>Local: <label for="">ESF Majorca</label></h6>
        <hr>
        <button type="button" class="btn text-white mt-2" style="background-color: #4784ba;">Visualizar</button>
        <button type="button" class="btn btn-danger mt-2" style="background-color: #C23F5C;">Excluir</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal-centerd" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" style="color: #236192;">Novo chamado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="slug">Ocorrência: </label>
        <select class="form-select col" aria-label="Default select example">
            <option selected>Tipo de ocorrência</option>
            <option value="1">Computador</option>
            <option value="2">Impressora</option>
            <option value="3">Rede de internet</option>
            <option value="4">Sistema</option>
            <option value="5">Outros</option>
        </select>
        <label for="slug">Local: </label>
        <input type="text" name="local" id="ocrr" placeholder="Local/unidade" class="form-control mb-2">
        <label for="dsc">Solicitante: </label>
        <input type="text" name="name" id="name" placeholder="Nome do solicitante" class="form-control mb-2">
        <label for="dsc">Telefone: </label>
        <input type="text" name="tel" id="tel" placeholder="Telefone para contato" class="form-control mb-2">
        <label for="dsc">Descrição: </label>
        <textarea class="form-control" placeholder="Descrição do chamado" id="floatingTextarea" style="height: 7rem; resize: none;"></textarea>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn text-white mt-2" style="background-color: #4784ba;">Enviar</button>
        <button type="button" class="btn btn-danger mt-2" style="background-color: #C23F5C;">Cancelar</button>
      </div>
    </div>
  </div>
</div>
