<div class="container py-5">
    <div class="row d-flex justify-content-center py-5">
        <div class="card col-md-4 border-0">
            <div class="card-body">
                <h2 class="mb-4" style="color: #236192;">Login</h2>
                <input type="email" class="form-control mb-4" name="email" placeholder="Email">
                <input type="password" class="form-control mb-4" name="password" placeholder="Senha">
                <button type="submit" class="btn text-white form-control mb-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #236192;">Entrar</button>
            </div>
        </div>
        <div class="card col-md-4 border-0 align-items-center align-self-center">
            <img src="/img/logo-sfs.png" class="w-75">
        </div>
    </div>
</div>